/* this style sheet is lowkey so messy have to reorganize at some point */

.animated-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #f1c167, #decef1, #e7cba0, #9192e2);
  background-size: 800% 800%;
  animation: gradientShift 35s ease infinite;
  z-index: -1;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(192, 132, 132, 0);
}

header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.flashcard-container {
    text-align: center;
    perspective: 1000px;
}


.flashcard {
    font-size: 2.5em;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 30px;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}
.front, .back {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    backface-visibility: hidden;
}

.front {
    background-color: blueviolet;
    display: flex;
    transform: rotateY(0deg);
}

.back {
    background-color: rgb(125, 31, 212);
    display: flex;
    transform: rotateY(180deg);
}

.controls {
  align-items: right;
}

.controls button {
  padding: 10px 15px;
  justify-content: center;
  margin: 0 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 10px;
}

/*
.button-stack {
  display: flex;
  flex-direction: column;
  height: 50%; /* fills parent 
}

.button-stack button {
  height: 50%;
  width: 20px;
  margin: 0px;
  padding: 0px;
  height: 20px;
  flex: 1;
} */

.footer {
  /*position: absolute;*/
  bottom: 5px;
  align-content: center;
}

.tips {
  justify-content: center;
  align-content: center;
  text-align: center;
}
